* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
   margin: 0;
   padding-top: 60px; /* altura do menu */
   font-family: sans-serif;
}

.topo{    
    background-color: #f7c9cd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 60px;
}

.topo ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
    
}
.topo ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.topo ul li a:hover{
    color: #cfdbcb;
    background-color: #fa9a59;
    
}

  /* Ajuste da rolagem */
  section {
    height: 100vh;
    padding: 20px;
    scroll-margin-top: 60px; /* altura do menu fixo */
  }

.conteudo1{
    background-color: #f9dee0;
}


.conteudo2{
    background-color: #ecd9d8;
}


 /* --- animações --- */
  @keyframes fromLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
  }

  @keyframes fromBottom {
    from { transform: translateY(100%); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
  }

  @keyframes fromRight {
    from { transform: translateX(100%); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
  }

  .box {
    width: 300px;
    height: 85vh;
    margin: 20px;
    display: inline-block;
    background: #83606f;
  }

  /* dispara as animações somente quando #conteudo2 é o alvo */
  #conteudo2:target .from-left   { animation: fromLeft .9s ease-out both; }
  #conteudo2:target .from-bottom { animation: fromBottom .9s ease-in .25s both; }
  #conteudo2:target .from-right  { animation: fromRight .9s ease-out .5s both; }

.conteudo3{
    background-color: #b6dce3;
}

.conteudo4{
    background-color: #d9cbe5;
}

.conteudo5{
    background-color: #ffb97b;
}

/* keyframes para iframe */
@keyframes mapFromBottomBounce {
  0%   { transform: translateY(100%); opacity: 0; }
  60%  { transform: translateY(-20px); opacity: 1; }
  80%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

/* animação disparada pelo :target */
#conteudo5:target iframe {
  animation: mapFromBottomBounce 1s ease forwards;
  animation-delay: 0.2s;
}

footer{
    height: 200px;
    background-color: #7ec8e3;
}